.flavor {
  position: absolute;
  width: 100px;
  border: 1px solid #aaa;
  background-color: white;
  box-shadow: 8px 8px 10px #aaa;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.flavor-rank {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: green;
}

.flavor-image {
  width: 100%;
}
